* {
    padding: 0%;
    margin: 0%;
}

/* Container level */
.container {
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-gap: 10px;

    margin: 0 20px;
    height: 100vh;
}

/* Block level */
.block-1 {
    display: flex;
    width: 100%;
    background-color: lightgreen;
    justify-content: center;
}

.block-2 {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: lightskyblue;
}

.block-3 {
    width: 100%;
    /* height: 20vh; */
    background-color: pink;
}


/* website boxes */
header {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

aside {
    display: flex;
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
}

section {
    display: flex;
    background-color: lightseagreen;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:750px) {
    .block-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
}